* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}
.form{
  display: grid;
  justify-content: center;
  margin-top: 5rem;
}
.input > input{
    margin: 0.5rem;
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border-color: #D5D4D8;
    font-size: 1rem;
    text-indent: 5px;
}
.button{
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
.button > input {
  width: 477px;
  height: 40px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
}
.meme {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.meme-image{
  display: flex;
  justify-content: center;
}